@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    // @apply border-border;
    @apply border-[var(--border)]
  }

  body {
    @apply bg-background text-foreground;
  }
}

// font import
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@layer base {
  :root {
    --background: #ffffff;
    /* 0 0% 100% */
    --foreground: #0a0a0a;
    /* 240 10% 3.9% */
    --card: #ffffff;
    /* 0 0% 100% */
    --card-foreground: #0a0a0a;
    /* 240 10% 3.9% */
    --popover: #ffffff;
    /* 0 0% 100% */
    --popover-foreground: #0a0a0a;
    /* 240 10% 3.9% */
    --primary: #1a1a1a;
    /* 240 5.9% 10% */
    --primary-foreground: #fafafa;
    /* 0 0% 98% */
    --secondary: #f2f2f2;
    /* 240 4.8% 95.9% */
    --secondary-foreground: #1a1a1a;
    /* 240 5.9% 10% */
    --muted: #f2f2f2;
    /* 240 4.8% 95.9% */
    --muted-foreground: #787878;
    /* 240 3.8% 46.1% */
    --accent: #f2f2f2;
    /* 240 4.8% 95.9% */
    --accent-foreground: #1a1a1a;
    /* 240 5.9% 10% */
    --destructive: #ff6666;
    /* 0 84.2% 60.2% */
    --destructive-foreground: #fafafa;
    /* 0 0% 98% */
    --border: #e6e6e6;
    /* 240 5.9% 90% */
    --input: #e6e6e6;
    /* 240 5.9% 90% */
    --ring: #0a0a0a;
    /* 240 10% 3.9% */

    --chart-1: #ff7733;
    /* 12 76% 61% */
    --chart-2: #26a69a;
    /* 173 58% 39% */
    --chart-3: #3d6d9f;
    /* 197 37% 24% */
    --chart-4: #f5ba42;
    /* 43 74% 66% */
    --chart-5: #ff7e39;
    /* 27 87% 67% */
    --radius: 0.5rem;
  }

  // prose formatting for root theme
  :root .prose {
    color: black;
  }

  :root .prose code {
    color: black;
    /* Adjust as needed for better contrast */
    background-color: white;
    /* Darker background for inline code */
  }

  :root .prose pre {
    color: #e5e7eb;
    /* Light text color for code block */
    background-color: #111827;
    /* Dark background for code block */
  }

  .dark {
    --background: #0a0a0a;
    /* 240 10% 3.9% */
    --foreground: #fafafa;
    /* 0 0% 98% */
    --card: #0a0a0a;
    /* 240 10% 3.9% */
    --card-foreground: #fafafa;
    /* 0 0% 98% */
    --popover: #0a0a0a;
    /* 240 10% 3.9% */
    --popover-foreground: #fafafa;
    /* 0 0% 98% */
    --primary: #fafafa;
    /* 0 0% 98% */
    --primary-foreground: #1a1a1a;
    /* 240 5.9% 10% */
    --secondary: #262626;
    /* 240 3.7% 15.9% */
    --secondary-foreground: #fafafa;
    /* 0 0% 98% */
    --muted: #262626;
    /* 240 3.7% 15.9% */
    --muted-foreground: #a3a3a3;
    /* 240 5% 64.9% */
    --accent: #262626;
    /* 240 3.7% 15.9% */
    --accent-foreground: #fafafa;
    /* 0 0% 98% */
    --destructive: #993333;
    /* 0 62.8% 30.6% */
    --destructive-foreground: #fafafa;
    /* 0 0% 98% */
    --border: #262626;
    /* 240 3.7% 15.9% */
    --input: #262626;
    /* 240 3.7% 15.9% */
    --ring: #d1d1d1;
    /* 240 4.9% 83.9% */

    --chart-1: #357edd;
    /* 220 70% 50% */
    --chart-2: #26a69a;
    /* 160 60% 45% */
    --chart-3: #ffbb55;
    /* 30 80% 55% */
    --chart-4: #d95fce;
    /* 280 65% 60% */
    --chart-5: #ff597d;
    /* 340 75% 55% */
  }
}

// prose formatting for dark theme
.dark .prose {
  color: white;
}

.dark .prose code {
  color: #e5e7eb;
  /* Adjust as needed for better contrast */
  background-color: #0a0a0a;
  /* Darker background for inline code */
}

.dark .prose pre {
  color: #e5e7eb;
  /* Light text color for code block */
  background-color: #111827;
  /* Dark background for code block */
}

.dark .prose strong {
  color: white;
  /* Adjust as needed for better contrast */
  background-color: #0a0a0a;
  /* Darker background for inline code */
}

.red {
  --background: #0a0a0a;
  /* Black background */
  --foreground: #ff4d4d;
  /* Red foreground */
  --card: #1a1a1a;
  /* Darker black for cards */
  --card-foreground: #ff4d4d;
  /* Red text on cards */
  --popover: #1a1a1a;
  /* Dark background for popovers */
  --popover-foreground: #ff4d4d;
  /* Red text in popovers */
  --primary: #ff4d4d;
  /* Red for primary elements */
  --primary-foreground: #0a0a0a;
  /* Black text for primary foregrounds */
  --secondary: #333333;
  /* Dark gray for secondary elements */
  --secondary-foreground: #ff4d4d;
  /* Red text for secondary elements */
  --muted: #333333;
  /* Muted background with dark gray */
  --muted-foreground: #ff9999;
  /* Lighter red for muted text */
  --accent: #4d0000;
  /* Dark red for accents */
  --accent-foreground: #ff4d4d;
  /* Red text on accent elements */
  --destructive: #b30000;
  /* Stronger red for destructive actions */
  --destructive-foreground: #0a0a0a;
  /* Black text for destructive actions */
  --border: #262626;
  /* Dark gray for borders */
  --input: #262626;
  /* Dark gray for inputs */
  --ring: #ff4d4d;
  /* Red for focus rings */

  --chart-1: #ff6666;
  /* Different shades of red for charts */
  --chart-2: #ff3333;
  --chart-3: #e60000;
  --chart-4: #b30000;
  --chart-5: #800000;
}

// prose formatting for red theme
.red .prose {
  color: #ff4d4d;
}

.red .prose code {
  color: #f16c6c;
  /* Adjust as needed for better contrast */
  background-color: #1a1a1a;
  /* Darker background for inline code */
}

.red .prose pre {
  color: #e5e7eb;
  /* Light text color for code block */
  background-color: #111827;
  /* Dark background for code block */
}

.red .prose strong {
  color: #f16c6c;
  /* Adjust as needed for better contrast */
  background-color: #1a1a1a;
  /* Darker background for inline code */
}

// ABOUT SITE CARD ANIMATIONS

.shake:hover {
  animation: shake 1.5s linear both;
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-10deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

// -----------------------------------------
.move-right {
  --move-button-container-width: 600px;
  width: var(--move-button-container-width);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.move-right button {
  --move-button-width: 50px;
  width: var(--move-button-width);
  height: 40px;
  background-color: var(--foreground);
  border-radius: 10%;

  /* Initial transform and transition setup */
  transform: translateX(0);
  transition: transform 2s ease; /* Smooth transition */
}

.move-right:hover button {
  /* Use transform instead of animation to move the button */
  transform: translateX(
    calc(var(--move-button-container-width) - var(--move-button-width))
  );
}

// -----------------------------------------------------------

.move-left-right {
  --move-button-container-width: 600px;
  width: var(--move-button-container-width);
  height: 43px;
  overflow: hidden;
}

.move-left-right button {
  --move-button-width: 50px;
  height: 40px;
  background-color: var(--foreground);
  border-radius: 10%;

  transform: translateX(0);
  transition: transform 3s ease;
  width: var(--move-button-width);
  -webkit-transition: transform 2s ease;
}

.move-left-right:hover button {
  animation: move-left-right 3s ease-in-out forwards infinite;
  // animation-fill-mode: forwards;
}

@keyframes move-left-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      calc(var(--move-button-container-width) - var(--move-button-width))
    );
  }

  100% {
    transform: translateX(0);
  }
}

.thing {
  border: 10px solid black;
  padding: 10px;
  border-radius: 5px;

  /* HOVER OFF */
  -webkit-transition: padding 2s;
}

.thing:hover {
  border: 2px solid black;
  padding: 20px;
  border-radius: 15px;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}

// ABOUT SECTION ELEVATE TEXT -------------------------------

@for $i from 1 through 10 {
  .elevate-text-container .elevate-text:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.5}s;
  }
}

.elevate-text {
  padding-left: 8rem;
  padding-right: 8rem;

  animation: elevate-text 3s linear forwards;
  animation-timeline: scroll();
  animation-range-start: entry;
  animation-range-end: 550px;
}

@keyframes elevate-text {
  from {
    transform: translateY(700%);
  }

  to {
    transform: translateY(0%);
  }
}

.appear {
  animation: appear 3s ease-in-out;
  animation-timeline: scroll();
  animation-range-start: entry;
  animation-range-end: 400px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* SCROLL ANIMATIONS -------------------------------------- */
/* Side scroll watcher */
.scroll-watcher {
  width: 2px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--scroll-bar);
  height: 100%;
  scale: 1 0;
  transform-origin: top;

  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
.scroll-watcher-right-horizontal {
  width: 100%; /* Full width of the screen */
  height: 2px; /* Thickness of the scroll bar */
  position: relative;
  // top: 170%; /* Position at the top of the screen */
  left: 0;
  z-index: 1000;
  background-color: var(--scroll-bar);

  /* Horizontal scale animation */
  scale: 0 1;
  transform-origin: left;

  /* Animation properties */
  animation: scroll-watcher 5s linear forwards;
  animation-timeline: scroll();
  animation-range-start: entry();
  animation-range-end: 1400px;
}

.scroll-watcher-left-horizontal {
  width: 100%; /* Full width of the screen */
  height: 2px; /* Thickness of the scroll bar */

  /* Position at the top of the screen */
  left: 0;
  z-index: 1000;
  background-color: var(--scroll-bar);

  /* Horizontal scale animation */
  scale: 0 1;
  transform-origin: right;

  /* Animation properties */
  animation: scroll-watcher 5s linear forwards;
  animation-timeline: scroll();
  animation-range-start: entry();
  animation-range-end: 1800px;
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

/* AUTOSCROLL ------------------------------------------- */

/* Autoscroll container */
.autoscroll {
  font-size: 15px;
  padding-block: 8px;
  border-block: 1px solid;
  overflow: hidden;
  user-select: none;

  --gap: 10px;
  display: flex;
  gap: var(--gap);
}

.autoscroll ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);

  animation: scroll 10s linear infinite;
}

.autoscroll:hover ul {
  animation-play-state: paused;
}

/* Keyframes for smooth scrolling */
@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* SCROLL-IN-LEFT/RIGHT --------------------------------------- */

@media (prefers-reduced-motion: no-preference) {
  .scroll-in-left {
    position: absolute;
    // top: 290%;
    animation-fill-mode: both;
    animation: scroll-in-left linear forwards;
    animation-range-start: entry 600px;
    animation-range-end: 2200px;
    animation-timeline: scroll();
  }

  .scroll-in-right {
    position: absolute;
    // top: 310%;

    animation-fill-mode: both;
    animation: scroll-in-right linear forwards;
    animation-range-start: entry 800px;
    animation-range-end: 2300px;
    animation-timeline: scroll();
  }

  .scroll-in-left-delay {
    position: absolute;
    // top: 330%;

    animation-fill-mode: both;
    animation: scroll-in-left linear forwards;
    animation-range-start: entry 1100px;
    animation-range-end: 2350px;
    animation-timeline: scroll();
  }

  @keyframes scroll-in-left {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes scroll-in-right {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }

    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

/* Image Scroll Fade ------------------------------ */

.fade-out-scroll {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range-start: 800px;
  animation-range-end: 1700px;
}

@keyframes fade-out {
  from {
    scale: 1;
    opacity: 1;
  }

  to {
    scale: 0.5;
    opacity: 0;
  }
}

// Resume Work Card CSS

.work-card {
  position: relative;
  border-radius: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Animation shorthand */
  animation: elevate 5s ease-in-out forwards;
  animation-timeline: scroll();
  animation-range-start: entry -900px;
  animation-range-end: 3600px;
}

// .gradient-border-wrapper::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: inherit;
//   background-image: linear-gradient(to bottom right, red, purple);
//   z-index: -1;
//   transform: scale(1.02); /* Slight scale for the border effect */
// }

// .work-card:hover{
//   // h-offset v-offset blur spread color
//   box-shadow: 0 0 10px 5px red, 0 0 20px 10px purple;

//    //z-index: 0;
// }

@for $i from 1 through 10 {
  .work-card-container .work-card:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.5}s;
  }
}

@keyframes elevate {
  from {
    transform: translateY(-400%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* HERO CSS -------------------------------------  */

.hero-card {
  position: absolute;
  --hero-card-width: 25rem;
  width: var(--hero-card-width);
 // absolute top-[50%] left-1/2 
  top: 50%;
  left: calc(50% );
  transform: translate(-50%, -50%);
}

/*  colors for hero svgs by theme */
:root {
  --color-bg1: rgb(8, 10, 15);
  --color-bg2: rgb(0, 17, 32);
  --color1: 18, 113, 255;
  --color2: 107, 74, 255;
  --color3: 100, 100, 255;
  --color4: 50, 160, 220;
  --color5: 80, 47, 122;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
  --scroll-bar: #7e1eba;
  --bg-color: white;
}

.dark {
  --color-bg1: rgb(15, 15, 20);
  --color-bg2: rgb(20, 20, 30);
  --color1: 100, 200, 255;
  --color2: 150, 100, 255;
  --color3: 150, 150, 255;
  --color4: 80, 200, 220;
  --color5: 100, 60, 160;
  --color-interactive: 180, 150, 255;
  --scroll-bar: white;
  --bg-color: black;
}

.red {
  --color-bg1: rgb(15, 15, 20);
  --color-bg2: rgb(56, 2, 12);
  --color1: 100, 200, 255;
  --color2: 150, 100, 255;
  --color3: 150, 150, 255;
  --color4: 80, 200, 220;
  --color5: 100, 60, 160;
  --color-interactive: 180, 150, 255;
  --scroll-bar: #e61010;
  --bg-color: black;
}

// g1 -g5 common attributes
.g1,
.g2,
.g3,
.g4,
.g5 {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
  mix-blend-mode: var(--blending);
  opacity: 0.8;
}

// Hero animations ------------------------
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

// -----------------------------------------------

// HERO CSS --------------------------------------
// big container
.grad-bg {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
}

.svgBlur {
  display: none;
}

.noiseBg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  mix-blend-mode: soft-light;
  opacity: 0.3;
  position: absolute;
  /* Positioned within .gradient-bg */
}
// container of g1-g5 bubbles
.gradients-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
// gradient bubbles for hero
.g1 {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(var(--color1), 0.8) 0,
    rgba(var(--color1), 0) 30%
  );

  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  opacity: 1;
  animation: moveVertical 30s ease infinite;
}

.g2 {
  background: radial-gradient(
      circle,
      rgba(var(--color2), 0.8) 0,
      rgba(var(--color2), 0) 30%
    )
    no-repeat;
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
}

.g3 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color3), 0.8) 0,
      rgba(var(--color3), 0) 30%
    )
    no-repeat;
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
}

.g4 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color4), 0.8) 0,
      rgba(var(--color4), 0) 30%
    )
    no-repeat;
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}

.g5 {
  background: radial-gradient(
      circle,
      rgba(var(--color5), 0.8) 0,
      rgba(var(--color5), 0) 30%
    )
    no-repeat;
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
}
// mouse drag bubble
.interactive {
  background: radial-gradient(
      circle,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 10%
    )
    no-repeat;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  position: absolute;
  opacity: 0.7;
}
